In [3]:
>>> a = "Pithon"
a = a.replace("i","y")
print(a)

Python

In [4]:
>>> "I eat %d apples." % 3

'I eat 3 apples.'

In [5]:
>>> "I eat %s apples." % "five"

'I eat five apples.'

In [6]:
>>> Num = 2
>>> "Num is %d" % Num

'Num is 2'

In [7]:
a = "One %d Two %s" % (1, 2)
print(a)

One 1 Two 2

In [12]:
a = "Error is %d%%" % 98
print(a)

Error is 98%

In [13]:
a = "%10s" % "hi"
print(a)

        hi

In [14]:
a = "%0.4f" % 3.1415926535
print(a)

3.1416

In [17]:
a = "%10.4f" % 3.1415926535
print(a)

    3.1416

In [18]:
Num = 1
a = "The number is {0}" .format(Num)
print(a)

The number is 1

In [20]:
Num = 123
a = "The number {0} {1}" .format("is", Num)
print(a)

The number is 123

In [21]:
>>> "{0:>10}" .format("hi")

'        hi'

In [23]:
>>> "{0:=^10}" .format("hi")

'====hi===='

In [24]:
>>> age = 30
>>> f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [27]:
>>> a = "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"
print(a.count("b"))
print(a.find("b"))

1025
0

In [29]:
a = "asdfasdf"
print(a.find('f'))
print(a.index('f'))

3
3

In [30]:
>>> a = ","
>>> a.join("abcdef")

'a,b,c,d,e,f'

In [33]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, ['Life', 'is']]
print(d[2])

['Life', 'is']

In [36]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a[2][2][0])

Life

In [37]:
>>> a = [1, 2, 3]
>>> str(a[2]) + "hi"

'3hi'