In [17]:
>>> a = [1, 2, 4]

>>> a[1:2] = ['a', 'b', 'c']
>>> a

[1, 'a', 'b', 'c', 4]

In [18]:
>>> a = [1, 2, 4]

>>> a[1] = ['a', 'b', 'c']
>>> a

[1, ['a', 'b', 'c'], 4]

In [19]:
a = [1, 'a', 'b', 'c', 4]

a[1:3] = [ ]
a

[1, 'c', 4]

In [20]:
del a[1]
a

[1, 4]

In [21]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [22]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [23]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [24]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [27]:
a = ['2', 'a', '3', '1' ,'c', 'b']
a.sort()
a

['1', '2', '3', 'a', 'b', 'c']

In [25]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [28]:
a = [1,2,3]
a.index(3)

2

In [29]:
a.index(1)

0

In [32]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [33]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [34]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [38]:
a = [1, 2, 3]
print(a.pop())
a

3

[1, 2]

In [39]:
a = [1,2,3,1]
a.count(1)

2

In [40]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [41]:
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [44]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))
print(t1, t2, t3, t4, t5, sep='\n')

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [46]:
t1 = (1, 2, 'a', 'b')
print(t1[0], t1[3], sep='\n')

1
b

In [49]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [50]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [51]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [52]:
del a [1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [56]:
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [57]:
grade['julliet']

99

In [58]:
a = {'name': 'pey', 'phone': '123123123', 'birth' : '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [59]:
for k in a.keys():
    print(k)

name
phone
birth

In [60]:
a.values()

dict_values(['pey', '123123123', '1118'])

In [61]:
a.items()

dict_items([('name', 'pey'), ('phone', '123123123'), ('birth', '1118')])

In [62]:
a.clear()
a

{}

In [63]:
a = {'name': 'pey', 'phone': '123123123', 'birth' : '1118'}
a.get('name')

'pey'

In [64]:
a.get('phone')

'123123123'

In [65]:
a.get('asdfasdf')

In [66]:
a.get('foo', 'bar')

'bar'

In [67]:
a.get('phone', 'bar')

'123123123'

In [68]:
'name' in a

True

In [69]:
'asdfasdf' in a

False

In [70]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [71]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [72]:
l1 = list(s1)
l1

[1, 2, 3]

In [73]:
l1[0]

1

In [74]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [75]:
t1[0]

1

In [76]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2

{4, 5, 6}

In [77]:
s1.intersection(s2)

{4, 5, 6}

In [78]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [79]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [80]:
s1 - s2

{1, 2, 3}

In [81]:
s2 - s1

{7, 8, 9}

In [82]:
s1.difference(s2)

{1, 2, 3}

In [84]:
s2.difference(s1)

{7, 8, 9}

In [85]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [86]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [87]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

In [88]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [89]:
a = [1,2,3]
id(a)

775935428424