In [14]:
marks = [90, 25, 67, 45, 80]
for number1 in range(len(marks)):
    if marks[number1] > 60:
        print('%i번 학생은 합격입니다.' % (number1 + 1))
    else:
        print('%i번 학생은 불합격입니다.' % (number1 + 1))

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [15]:
num = 1
for number2 in marks:
    if number2 > 60:
        print('%i번 학생은 합격입니다.' % num)
    else:
        print('%i번 학생은 불합격입니다.' % num)
    num += 1

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [24]:
for first in range(2, 10):
    for second in range(1, 10):
        print(first * second, end = ' ')
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [25]:
def sum(a, b):
    return a + b
print(sum(a = 3, b = 4))
print(sum(b = 4, a = 3))

7
7

In [29]:
def say_myself(name, old, man = True):
    print('이름: %s' % name)
    print('나이: %d' % old)
    if man:
        print('남자')
    else:
        print('여자')
        
say_myself('ㅇㅇㅇ', 27)
say_myself('ㅁㅁㅁ', 23, False)

이름: ㅇㅇㅇ
나이: 27
남자
이름: ㅁㅁㅁ
나이: 23
여자

In [30]:
sum = lambda a, b: a + b
sum(3, 4)

7

In [31]:
myList = [lambda a, b: a + b, lambda a, b: a * b]
print(myList[0](3, 4))
print(myList[1](3, 4))

7
12